*,
::before,
::after {
    box-sizing: border-box;
}

.bd-layout {
    display: grid;
    /* grid-template-areas: 'sidebar main'; */
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem;
}

.bd-sidebar {
    /* position: sticky; */
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
    /* width: 20%;
    right: 80%; */
}
