{% extends "base.html" %} {% load static %} {% block scDataTable %}

<div class="table-responsive m-4">
    <table id="scTable1" class="table table-bordered">
        <thead class="alter-warning">
            <tr>
                <th>Index</th>
                <th>Project Name</th>
            </tr>
        </thead>
        <tbody>
            {% for proj in projects %}

            <tr>
                <td>{{ proj.id }}</td>
                <td>{{ proj.project }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{block.super }} {% endblock scDataTable %}
